:root {
      --body-background: white;
      --title: black;
    }
    
    [data-theme='Light'] {
      --body-background: white;
      --title: black;
    }
    
    [data-theme='dark'] {
      --body-background: rgb(0, 0, 0);
      --title: white;
     
    }
    
   

    body {
      background-color: var(--body-background);
      color: var(--title);
    }
    
      h2,  h6 {
      color: var(--title);
    } 
    
 